<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lu.mybatis.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="Account">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="account_uuid" jdbcType="CHAR" property="accountUuid" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="account_type" jdbcType="CHAR" property="accountType" />
    <result column="account_status" jdbcType="TINYINT" property="accountStatus" />
    <result column="account_amount" jdbcType="DECIMAL" property="accountAmount" />
    <result column="account_cash_amount" jdbcType="DECIMAL" property="accountCashAmount" />
    <result column="account_freeze_amount" jdbcType="DECIMAL" property="accountFreezeAmount" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

</mapper>